<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Succes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div align="center">

    <h3 align="center" class="display-3">Success! Medication added to the list.</h3>
    <br>
    <br>
    <a href="list">
        <button type="button" class="btn btn-primary btn-lg" style="width: 500px; ">Go to the list</button>
    </a>
</div>
</body>
</html>