<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("tabelka");
        switching = true;
        dir = "asc";
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>

<!--<form name="search" th:action="@{/search}" method="post">-->
<!--<input type="text" th:name="query">-->
<!--<button class="btn btn-success" type="submit">Szukaj</button>-->
<!--</form>-->

<table class="table" id="tabelka">
    <thead>
    <tr>
        <th scope="col" style="visibility: hidden"></th>
        <th scope="col"><a onclick="sortTable(0)"> Code</a></th>
        <th scope="col"><a onclick="sortTable(1)"> Country</a></th>
        <th scope="col"></th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="category: ${categories}">
        <th style="visibility: hidden" scope="row" th:text="${category.id}"></th>
        <td th:text="${category.code}"></td>
        <td th:text="${category.country}"></td>
        <td>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
                <a th:href="|/edit-category/${category.id}|">
                    <button type="button" class="btn btn-primary">Edit</button>
                </a>
                <a th:href="|/delete-category/${category.id}|">
                    <button type="button" class="btn btn-primary">Delete</button>
                </a>
            </div>
        </td>
    </tr>

    </tbody>
</table>


</body>
</html>